.toolbar {
    margin: 25px 50px 75px 100px;
}

a {
  color: #000000;
  font-family: helvetica;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

#nameTopLeft{
  float: left;
}

.textInfo {
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  position: relative;
  padding-top: 50px;
}
