<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
      {% block head %}
      {% endblock %}

    </head>

    <body>
      <div id="container">
        <div class="toolbar">
          <ul>
            <li> <a href="/resume"> resume </a> </li>
            <li> <a href="/projects"> projects </a> </li>
            <li> <a href="/photoBooth"> photo booth </a> </li>
            <li> <a href="/illustrate"> illustrations </a> </li>
            <li> <a href="/about"> about </a> </li>
            <li> <a href="/index"> home </a> </li>
          </ul>
        </div>

        <a href="/index" id="nameTopLeft"> Haydar Amin </a>
      </div>
      {% block body %}
      {% endblock %}

    </body>
</html>
